@import "reset";
@import "fonts";

body {
	font-size: 16px;
	font-family: 'opensans',Arial, sans-serif;
	width: 100%;
	line-height: 1.4;
}
.logo {
	text-align: center;
	margin: 80px 0 30px 0;
}
.logo h1 {
	border-bottom: solid orange;
	margin: 0 auto;
	width: 200px;
	font-weight: bold;
	color: white;
}
.logo h2{
	color: white;
	margin: 0 auto;
	font-weight: lighter;
}
.main {
	background-image: url('../assets/images/birds.jpg');
	display: inline-block;
	width: 100%;
	overflow: auto;
	background-size: 100% 100%;
	margin: 0 auto;
}
.wrapper {
	background-color: rgba(0, 0, 0, 0.5);
	overflow: auto;
	margin: 0 auto;
}
.inner-wrapper {
	margin: 20px 20px;
	display: flex;
}
.intro {
	width: 40%;
	display: flex;
	justify-content: flex-end;
	margin: 0 20px;
}
.hello {
	width: 50%;
	color: white;
	margin: 0 30px;
}
.hello h2{
	color: orange;
	line-height: 0;
}
#experience {
	display: inline-block;
	float: left;
	width: 18%;
	padding-top: 20px;
	padding-left: 43px;
}
#details {
	display: inline-block;
	float: right;
	width: 60%;
	padding-right: 45px;
	padding-left: 45px;
	padding-top: 20px;
}
.work-experience {
	background-color: solid white;
	width: 90%;
	margin: 0 auto;
	border-bottom: solid black;
}
#work {
	border-bottom: solid black;
}
.experience {
	display: flex;
	margin: 20px 0;
}
#experience-details {
	width: 30%;
}
#experience-details h3{
	color: orange;
	line-height: .5;
}
#experience-details p {
	line-height: 0;
}
#description {
	width: 65%;
}
.self {
	background-color: solid white;
	width: 90%;
	margin: 0 auto;
}
.employed {
	display: flex;
	margin: 20px 0;
}
#employed-details {
	width: 30%;
}
#employed-details h3{
	color: orange;
	line-height: .5;
}
#employed-details p {
	line-height: 0;
}
#explanation {
	width: 65%;
}
.skills {
	background-image: url('../assets/images/clouds.jpg');
	background-size: 100% 100%;
	overflow: auto;
	color: white;
	box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.64);
}
.skills ul {
	width: 80%;
	margin: 20px auto 30px auto;
	text-align: center;
}
#skills-head{
	border-bottom: solid white;
	margin: 0 auto;
	text-align: center;
	width: 70%;
}
.skills li {
	border-radius: 50%;
	width: 120px;
	border: 3px solid orange;
	text-align: center;
	margin: 15px;
	height: 120px;
	line-height: 120px;
}

.education {
	width: 90%;
	margin: 0 auto;
	background-color: white;
}
#education-head {
	border-bottom: solid black;
}
.red h3 {
	color: orange;
	line-height: .5;
}
.red {
	width: 95%;
	margin-bottom: 40px;
}
#footer-head {
	border-bottom: solid white;
	width: 88%;
	font-weight: bold;
	margin: 0 auto;
}
footer {
	margin: 0 auto;
	background-color: black;
	color: white;
	overflow: auto;
}
.skills li {
	display: inline-block;
}
i {
	color: orange;
	padding: 5px;
}
.foot h3{
	color: orange;
}
.icons {
	float: right;
}
.foot {
	float: left;
	overflow: auto;
}
.contact {
	width: 88%;
	margin: 0 auto;
}
.copyright p{
	font-weight: 100;
	font-size: 12px;
	margin: 40px auto;
	width: 88%;
}
.clearfix:after{
   content: " "; /* Older browser do not support empty content */
   display: block;
   clear: both;
}

@media (max-width: 400px){
	.intro img {
		max-width: 100%;
		height: auto;
    width: auto\9; /* ie8 */
}
.logo img {
	max-width: 100%;
	height: auto;
    width: auto\9; /* ie8 */
}
.inner-wrapper {
	display: flex;
	flex-direction: column;
}
.intro {
	width: 100%;
	display: flex;
	justify-content: center;
	margin: 0 auto;
}
.hello {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}
#work {
	text-align: center;
}
.experience {
	width: 100%;
	display: flex;
	flex-direction: column;
}
#experience-details {
	width: 100%;
	text-align: center;
}
#description {
	width: 100%;
	text-align: left;
}
.employed {
	width: 100%;
	display: flex;
	flex-direction: column;
}
#employed-details {
	width: 100%;
	text-align: center;
}
#explanation {
	width: 100%;
	text-align: left;
}
.skills ul {
	width: 100%;
	margin: 20px auto;
}
.skills li {
	border-radius: 50%;
	width: 85px;
	border: 3px solid orange;
	text-align: center;
	margin: 5px;
	height: 85px;
	line-height: 85px;
}
#education-head {
	text-align: center;
}
.red-head {
	text-align: center;
	width: 100%;
}
.red {
	width: 100%;
}
#footer-head {
	text-align: center;
}
.contact {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.foot {
	text-align: center;
}
.copyright {
	text-align: center;
}
}